* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.loginContainer {
  background-color: #af8383;
}

.backgroundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentLeftContainer {
  background-color: white;
  height: 600px;
  width: 550px;
  border-radius: 10px;
}

.logoELearning {
  width: 80px;
  height: 80px;
  padding: 25px 25px;
}

.formHeading {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.formNav {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  color: #c75959;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.formContainer {
  position: relative;
  width: 400px;
}

.typeInput {
  width: 100%;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 40px;
  height: 40px;
}

.imageLogo {
  position: absolute;
  top: 5px;
  left: 14px;
  width: 30px;
  height: 30px;
}

.buttonSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 156px;
  height: 40px;
  background-color: #c75959;
  border-radius: 30px;
  cursor: pointer;
}

.buttonSignIn p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.buttonSignInDisabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.contentRightContainer {
  background-color: #c75959;
  height: 600px;
  width: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.image {
  width: 100%;
  height: 400px;
}

.imageContent {
  font-size: 16px;
  color: white;
  padding: 58px 60px 0 60px;
  text-align: center;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 16px;
  margin-top: 32px;
}
