* {
  padding: 0;
  margin: 0;
}
.courseTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 56px;
  font-size: 20px;
  padding: 24px 136px 16px 40px;
  font-weight: bold;
  border-bottom: 1px solid black;

  .courseTitleInfor {
    flex: 10%;
    text-align: center;
  }
}
.courseInformationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  font-size: 16px;
  padding: 24px 60px 16px 40px;

  .courseInformation {
    flex: 10%;
    text-align: center;
  }
}

.addCourseContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px;

  .addCourseButton {
    background-color: #c75959;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: #b04a4a;
    }
  }
}
