* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.coursesContainer {
  background-color: #f0f0f0;
  height: 100vh;

  .headingContainer {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 10px 30px;
    background-color: white;
    border-bottom: black 1px solid;

    .contentNavHeading {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      font-size: 16px;

      .logoELearning {
        width: 58px;
        height: 58px;
      }

      .avatarAccount {
        width: 42px;
        height: 42px;
      }

      .fontUsername {
        font-weight: 600;
        font-size: 16px;
      }
    }

    .contentNavHeadingAvatar {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      font-size: 16px;
      position: relative;

      .avatarAccount {
        width: 42px;
        height: 42px;
      }

      .fontUsername {
        font-weight: 600;
        font-size: 16px;
      }
    }

  }

  .navHeadingProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    position: absolute;
    top: 7%;
    right: 0%;
    width: 200px;
    height: 100px;
    background-color: white;


    .navHeadingProfileContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      gap: 10px;
      padding: 15px 10px 15px 10px;
      letter-spacing: 2px;
      cursor: pointer;

      &:hover {
        background-color: #d3d3d3;
        transition: background-color 0.3s ease;
        border-radius: 16px;
        transform: translateY(-2px);
        transition: all 0.2s ease;
      }

      .logoInfo {
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin: 24px 30px;
    height: 82vh;

    .navLeftContainer {
      width: 14%;
      background-color: #8e4c4c;
      color: white;
      border-radius: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .navItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        gap: 10px;
        padding: 15px 10px 15px 10px;
        letter-spacing: 2px;
        cursor: pointer;
      }

      .active {
        background-color: #d37979;
        color: white;
        border-radius: 16px;
      }

      .navItems:hover {
        background-color: #bb7171;
        transition: background-color 0.3s ease;
        border-radius: 16px;
      }

      .imageCourseInfor {
        width: 32px;
        height: 32px;
      }
    }

    .contentRightContainer {
      background-color: white;
      width: 86%;
      border-radius: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      letter-spacing: 3px;
    }
  }
}